# Data Cleaning and Preprocessing

In [1]:
import sys
import os
sys.path.append('../scripts')
from data_loader import *
from data_cleaning import *

## Load Datasets

In [2]:
# path to the CSV file
filename1 = 'Fraud_Data.csv'
filename2 = 'IpAddress_to_Country.csv'
filename3 = 'creditcard.csv'
path1 = os.path.join('..', 'data/raw', filename1)
path2 = os.path.join('..', 'data/raw', filename2)
path3 = os.path.join('..', 'data/raw', filename3)
# Load dataset
fraud_data = load_data(path1)
ip_data = load_data(path2)
credit_card_data = load_data(path3)

In [ ]:
fraud_data.head()

In [ ]:
fraud_data.info()

In [ ]:
ip_data.info()

In [ ]:
ip_data.head()

In [ ]:
credit_card_data.head()

## Find missing values

In [ ]:
fraud_missing, ip_missing, credit_card_missing = find_missing_values(fraud_data, ip_data, credit_card_data)
print("Missing values in Fraud Data:\n", fraud_missing)
print("\nMissing values in IP Data:\n", ip_missing)
print("\nMissing values in Credit Card Data:\n", credit_card_missing)

## Find duplicates

In [ ]:
fraud_duplicates, ip_duplicates, credit_card_duplicates = find_duplicates(fraud_data, ip_data, credit_card_data)
print("\nDuplicates in Fraud Data:", fraud_duplicates)
print("\nDuplicates in IP Data:", ip_duplicates)
print("\nDuplicates in Credit Card Data:", credit_card_duplicates)

## Handle missing Values

In [3]:
fraud_data, ip_data, credit_card_data = handle_missing_values(fraud_data, ip_data, credit_card_data)
fraud_data.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

## Remove Duplicates

In [4]:
fraud_data, ip_data, credit_card_data = remove_duplicates(fraud_data, ip_data, credit_card_data)

In [5]:
fraud_duplicates, ip_duplicates, credit_card_duplicates = find_duplicates(fraud_data, ip_data, credit_card_data)
print("\nDuplicates in Fraud Data:", fraud_duplicates)
print("\nDuplicates in IP Data:", ip_duplicates)
print("\nDuplicates in Credit Card Data:", credit_card_duplicates)

Duplicates in Fraud Data: 0

Duplicates in IP Data: 0

Duplicates in Credit Card Data: 0

## Data Types

In [ ]:
fraud_data.info()

## Correct Data Types

In [6]:
fraud_data = correct_data_types(fraud_data)
fraud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         151112 non-null  int64
 1   signup_time     151112 non-null  datetime64[ns]
 2   purchase_time   151112 non-null  datetime64[ns]
 3   purchase_value  151112 non-null  int64
 4   device_id       151112 non-null  object
 5   source          151112 non-null  object
 6   browser         151112 non-null  object
 7   sex             151112 non-null  object
 8   age             151112 non-null  int64
 9   ip_address      151112 non-null  float64
 10  class           151112 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(4)
memory usage: 12.7+ MB

## Convert IP addresses to integer format & Merge

In [7]:
merged_df = convert_ip_and_merge(fraud_data, ip_data)
merged_df

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,0,Japan
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,0,United States
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,1,United States
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,0,Unknown
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,0,United States
...,...,...,...,...,...,...,...,...,...,...,...,...
151107,345170,2015-01-27 03:03:34,2015-03-29 00:30:47,43,XPSKTWGPWINLR,SEO,Chrome,M,28,3451154526,1,United States
151108,274471,2015-05-15 17:43:29,2015-05-26 12:24:39,35,LYSFABUCPCGBA,SEO,Safari,M,32,2439047221,0,Netherlands
151109,368416,2015-03-03 23:07:31,2015-05-20 07:07:47,40,MEQHCSJUBRBFE,SEO,IE,F,26,2748470523,0,Japan
151110,207709,2015-07-09 20:06:07,2015-09-07 09:34:46,46,CMCXFGRHYSTVJ,SEO,Chrome,M,37,3601174708,0,United States
151111,138208,2015-06-10 07:02:20,2015-07-21 02:03:53,20,ZINIADFCLHYPG,Direct,IE,M,38,4103824510,0,Unknown

In [ ]:
merged_df.info()

In [ ]:
merged_df.isna().sum()

In [ ]:
merged_df, ip_duplicates, credit_card_duplicates = find_duplicates(merged_df, ip_data, credit_card_data)
print("\nDuplicates in merged Data:", merged_df)

## Save Processed Dataset

In [8]:
# Define output folder and file name
output_folder = os.path.join('..', 'data', 'processed')
filename = 'processed_df.parquet'

output_path = save_data(merged_df, output_folder, filename)

Dataset saved to ..\data\processed\processed_df.parquet

## Feature Engineering

## Normalize and Scale